header {
    padding: 40px;
    text-align: center;
    /* Refer to CSS values by the name of the custom property we assigned it */
    background: var(--dark-blue);
    color: var(--white);
  }
  nav {
    display: flex;
    background-color: var(--tan);
  }  